*
!.gitignore
!.gitattributes
!README.md

!Assets
Assets/*

#Assets/_Scripts
!Assets/_Scripts
Assets/_Scripts/*

!Assets/_Scripts/*.cs

##Assets/Scenes
#!Assets/Scenes
#Assets/Scenes/*
#
#!Assets/Scenes/*.unity
#!Assets/Scenes/*.prefab
#
##Assets/_Prefabs
#!Assets/_Prefabs
#Assets/_Prefabs/*
#
#!Assets/_Prefabs/Resources
#Assets/_Prefabs/Resources/*
#
#!Assets/_Prefabs/Resources/*.mat
#!Assets/_Prefabs/Resources/*.prefab

!Packages
!Packages/*

